<!DOCTYPE html>
<html>
<head>
  <title>Railway Stations</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <p id="notice" class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <% if user_signed_in? %>
    <%= link_to "Log out", destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to "Log in", user_session_path %>
  <% end %>

<%= yield %>

<table>
  <tr>
    <td>
      <hr color="lightblue" />
    </td>
  </tr>
  <tr>
    <td width="80%" align="center" valign="center">
      &copy; 2016 Aleksandr Kudashkin. A class project at online school for developers &laquo;Thinknetica&raquo;.
    </td>
  </tr>
</table>
</body>
</html>
