<p id="notice"><%= notice %></p>

<p>
  <strong>Name of the Route:</strong>
  <%= @route.name %>
</p>

<p>
  <strong>Stations of the Route:</strong>
</p>

<p>
  <% if @route.railway_stations.empty? %>
    Not specified
  <% else %>
    <table>
      <thead>
        <tr>
          <td width="100px"><em>Station title</em></td>
          <td><em>Position in the route</em></td>
          <td><em>Departure time</em></td>
          <td><em>Arrival time</em></td>
        </tr>
      </thead>
      <tbody>
        <% @route.railway_stations.sorted.each do |station| %>
          <tr>
            <td><%= station.title %></td>
            <td>
              <%= form_tag [:update_time_position, station], method: "patch" do %>
              <%= hidden_field_tag :route_id, @route.id %>
              <%= number_field_tag :position, station.position(@route) %>
              <%= submit_tag "Update" %>
              <% end %>
            </td>
            <td>
              <%= form_tag [:update_time_position, station], method: "patch" do %>
              <%= hidden_field_tag :route_id, @route.id %>
              <%= time_field_tag :departure_time, station.departure_time(@route) %>
              <%= submit_tag "Update" %>
              <% end %>
            </td>
            <td>
              <%= form_tag [:update_time_position, station], method: "patch" do %>
              <%= hidden_field_tag :route_id, @route.id %>
              <%= time_field_tag :arrival_time, station.arrival_time(@route) %>
              <%= submit_tag "Update" %>
              <% end %>
            </td>    
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</p>

<p>
  <strong>Trains on the Route:</strong>
</p>

<p>
  <% if @route.trains.empty? %>
    Not specified
  <% else %>
    <ul>
      <% @route.trains.each do |train| %>
        <li><%= train.number %></li>
      <% end %>
    </ul>
  <% end %>
</p>

<%= link_to 'Edit', edit_route_path(@route) %> |
<%= link_to 'Back', routes_path %>
