<p id="notice"><%= notice %></p>

<p>
  <strong>Name of the Route:</strong>
  <%= @route.name %>
</p>

<p>
  <strong>Stations of the Route:</strong>
</p>

<p>
  <% if @route.railway_stations.empty? %>
    Not specified
  <% else %>
    <ul>
      <% @route.railway_stations.sorted(@route).each do |station| %>
        <li>
            <%= station.title %><%= form_tag [:update_position, station], method: "patch" do %>
            <%= hidden_field_tag(:route_id, @route.id) %>
            <%= label_tag(:position, "Position:") %>
            <%= text_field_tag(:position, station.get_position(@route)) %>
            <%= submit_tag("Update") %>
            <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
</p>

<p>
  <strong>Trains on the Route:</strong>
</p>

<p>
  <% if @route.trains.empty? %>
    Not specified
  <% else %>
    <ul>
      <% @route.trains.each do |train| %>
        <li><%= train.number %></li>
      <% end %>
    </ul>
  <% end %>
</p>

<%= link_to 'Edit', edit_route_path(@route) %> |
<%= link_to 'Back', routes_path %>
