<h1>Hello, Rails!</h1>

<%= link_to 'Listing of Railway Stations', railway_stations_path %>
<br />
<%= link_to 'Listing of Routes', routes_path %>
<br />
<%= link_to 'Listing of Trains', trains_path %>
<br />
<%= link_to 'Listing of Coaches', coaches_path %>
<br />
<%= link_to 'Listing of Tickets', tickets_path %>
