<%= form_for [:admin, @train, @ticket] do |f| %>
  <%= render 'common/errors', resource: @ticket %>

  <div class="field">
    <%= f.label :passenger_full_name %><br>
    <%= f.text_field :passenger_full_name %>
  </div>

  <div class="field">
    <%= f.label :passport %><br>
    <%= f.text_field :passport %>
  </div>

  <div class="field">
    <%= f.label :train %>
    <%= f.collection_select :train_id, Train.all, :id, :number %>
  </div>

  <div class="field">
    <%= f.label :first_station %>
    <%= f.collection_select :first_station_id, @stations, :id, :title %>
  </div>

  <div class="field">
    <%= f.label :last_station %>
    <%= f.collection_select :last_station_id, @stations, :id, :title %>
  </div>

  <div class="actions">
    <%= f.submit "Update ticket" %>
  </div>
<% end %>
