<%= form_for(@wagon) do |f| %>
  <%= render 'common/errors', resource: @wagon %>

  <div class="field">
    <%= f.radio_button :wagon_type, "economy", { id: "wagon_economy_class" } %>
    <%= f.label :economy_class, "Economy class" %>
    <br />
    <%= f.radio_button :wagon_type, "first", { id: "wagon_first_class" } %>
    <%= f.label :first_class, "First class" %>
  </div>

  <div class="field">
  	<%= f.label :train_id %>
  	<%= f.collection_select :train_id, Train.all, :id, :number %>
  </div>
  
  <div class="field">
    <%= f.label :upper_places %><br>
    <%= f.text_field :upper_places %>
  </div>

  <div class="field">
    <%= f.label :lower_places %><br>
    <%= f.text_field :lower_places %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
