<%= form_for [@train, @coach] do |f| %>
  <%= render 'common/errors', resource: @coach %>

  <div class="field">
    <%= f.label :type %><br>
    <%= f.select :type, Coach.types.map {|t| [t.underscore.humanize, t.camelcase]}, {}, disabled: @type != "Coach" %> 
  </div>

  <div class="field">
  	<%= f.label :train_id %>
    <%= f.collection_select :train_id, Train.all, :id, :number %>
  </div>
  
  <% @seats_list.each_key do |a| %>
    <div class="field">
      <%= f.label a %><br>
      <%= f.text_field a %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
