<p id="notice"><%= notice %></p>

<h1>Listing <%= "#{@type.underscore.humanize.pluralize}" %></h1>

<table>
  <thead>
    <tr>
      <th>Number</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: "coaches/coach", collection: @coaches %>
  </tbody>
</table>

<br>

<%= link_to 'See all coaches', sti_coach_path %>
<%= link_to "New #{@type.underscore.humanize}", sti_coach_path(@type, nil, :new) %>
