<p id="notice"><%= notice %></p>

<p>
  <strong>Coach's ID:</strong>
  <%= @coach.id %>
</p>

<p>
	<strong>Attached to the train:</strong>
	<% if @coach.train.present? %>
		<%= @coach.train.number %>
	<% else %>
		Not specified
	<% end %>
</p>

<p>
  <strong>Class:</strong>
    <%= @coach.type.to_s.underscore.humanize %>
</p>

<p>
  <strong>Seats:</strong>
  <% @coach.seats_list.each do |seat, value| %>
    <% if value.present? %>
      <br /><em><%= seat.humanize %>: <%= value %></em>
    <% end %>
  <% end %>
</p>

<%= link_to 'Edit', sti_coach_path(@coach.type,@coach,:edit) %> |
<%= link_to "See all #{@coach.type.pluralize.underscore.humanize}", sti_coach_path(@coach.type) %> |
<%= link_to 'See all coaches', sti_coach_path %>
