<p id="notice"><%= notice %></p>

<p>
  <strong>Coach's ID:</strong>
  <%= @coach.id %>
</p>

<p>
	<strong>Attached to the train:</strong>
	<% if @coach.train.present? %>
		<%= @coach.train.number %>
	<% else %>
		Not specified
	<% end %>
</p>

<p>
  <strong>Class:</strong>
    <%= @coach.type.to_s.capitalize %>
</p>

<p>
  <strong>Seats:</strong>
  <% @coach.just_seats.each do |seat, value| %>
    <% if value.present? %>
      <br /><em><%= seat.humanize %>: <%= value %></em>
    <% end %>
  <% end %>
</p>

<%= link_to 'Edit', edit_coach_path(@coach) %> |
<%= link_to 'Back', coaches_path %>
