<h1>Search results:</h1>
<strong>From:</strong> <%= @start_st.title %> <strong>to:</strong> <%= @end_st.title %> <p />
<% if @trains %>
  <table>
    <thead>
      <tr>
        <td>
          Route:
        </td>
        <td>
          Train:
        </td>
        <td>
          Depart time:
        </td>
        <td>
          Arrival time:
        </td>
        <td>
          Tickets:
        </td>
      </tr>
    </thead>
    <tbody>
      <% @trains.each do |t| %>
        <tr>
          <td>
            <%= t.route.name %>
          </td>
          <td>
            <%= t.number %>
          </td>
          <td>
            <%= @start_st.departure_time(t.route) %>
          </td>
          <td>
            <%= @end_st.arrival_time(t.route) %>
          </td>
          <td align="center">
            Buy
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  Not found
<% end %>

<p><%= link_to "New search", search_path %></p>
