   <tr>
     <td><%= coach.id %></td>
     <td><%= link_to 'Show', sti_coach_path(nil, coach.type, coach) %></td>
     <td><%= link_to "See all #{coach.type.pluralize.underscore.humanize}", sti_coach_path(@train, coach.type) %></td>
     <td><%= link_to 'Edit', sti_coach_path(nil, coach.type, coach, :edit) %></td>
     <td><%= link_to 'Destroy', sti_coach_path(nil, coach.type, coach), method: :delete, data: { confirm: 'Are you sure?' } %></td>
   </tr>
